html,
body {
    height: 100%;
}

html {
    display: table;
    width: 100%;
}

body.login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1.fleet {
    margin: 0px;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: 'Rubik Glitch', cursive;
    color: #070707;
}

.topnav {
    background-color: #070707;
    overflow: hidden;
}

.topnav h1 {
    float: left;
    padding: 12px 16px;
    color: white;
}

.topnav-right {
    float: right;
}

/* h1.center{
    display: flex;
    justify-content: center;
    text-align: center;
} */
form input.rname {
    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: -1px ;
    border-color: rgba(0, 0, 0, 0.31);
}

form input.rpass {
    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 5px ;
    border-color: rgba(0, 0, 0, 0.31);
}

button {
    border:0px;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    background: linear-gradient(90deg, #ec008c, #fc6767);
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.upload-button {
    margin-left: 83%;
    margin-bottom: 5%;
    position: fixed;
    bottom: 0;
    width: 12%;
    display: flex;
    justify-content: right;
    z-index: 1;

    /* padding: 10px; */
    /* background: #f8f8f8; */
}

div form h1 {
    margin-bottom: 43px;
}

main {
    /* background-color: #f92a2a */
    height: 110px;
    position: relative;
    z-index: 0;
    margin-top: 22px;
    min-width: 318px;
    justify-content: center;
}

.file-container {

    display: grid; grid-template-columns: repeat(auto-fill, minmax(177px, 1fr)); grid-gap: 20px; place-items: center;

    /* min-width: 267px */
}

.file-display {
    width: 160px;
    padding: 7px;
    height: 160px;
    background-color: #f1f1f1;
    border-radius: 9px;
    background: #e4f1fd;
}

.file-display img {
    width: 160px;
    height: 140px;
    border-radius: 4px;
}

.file-display p {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #231919;
    font-size: 12px;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.back-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.front-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 46, 46, 0.63);
}

.upload-main {
    display: flex;
    padding: 23px;
    width: 50%;
    height: 33%;
    border-radius: 9px;
    min-width: 164px;
    position: fixed;
    max-width: 422px;
    background-color: rgba(243, 243, 243, 0.97);
    
}

.upload-main form{
    width: 100%;
    height:100%;
    display: flex; 
    align-items:center; 
    justify-content:center;
    flex-wrap: wrap;

}

#cross {
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    opacity: 0.5;
    font-size: 22px;
}

#cross:hover {
    opacity: 1;
    color: rgb(221, 40, 40);
}

header div.navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
header h3{
    color: #ffffff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px; 
    margin-right: 15px;
    
}
.back-container header {
    background-color: #0e0e0e;
    padding: 8px;
    display: flex;
    align-items: center;
}
.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:15px;
    top:57px;
    border-radius:5px;
    background-color: #000000e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
@media screen and (max-width: 670px){
    .back-container header {
        justify-content:center;
        align-items: center;
        padding: 0px;
    }
    header{
        height: 59px;
    }
    header div.navigation{
        display:none;
    }
    .dropdown {
        display: block;
    }
    h1.fleet{
        font-size: 30px;
    }

    
}


@media screen and (max-width: 415px){
    h1.fleet{
        font-size: 25px;
    }
    .file-container{
        grid-template-columns: repeat(auto-fill, minmax(156px, 1fr))
    }
    
}
@media screen and (max-width: 360px){
    .file-container{
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr))
    }
    .file-display {
        width: 145px;
        height: 145px;
    }
    .file-display img {
        width: 145px;
        height: 126px;
    }
}



   